<footer class="mt-5 bg-light py-5 text-center">
	<p>&copy; Escalamap 2020  -
		<a href="{{path('cgu')}}">CGU</a>
		-
		<a href="http://amapli.gregorythorel.me">Documentation</a>
	</p>
	<p>Réalisation
		<a href="http://www.gregorythorel.me">Grégory Thorel</a>
	</p>


</footer>
