{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}Page introuvable
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 text-center">
				<h1>Oups ! Ressource indisponible !</h1>
				<br>
				<img src="{{asset('images/500.png')}}" alt="erreur 404">
				<br>
				<a href="{{ path('home') }}" class="btn btn-outline-primary">Retour à l'accueil</a>
			</div>
		</div>
	</div>
{% endblock %}
