{% extends 'base.html.twig' %}

{% block title %}Ajouter un document
{% endblock %}

{% block body %}
	<a href="{{ path('referent_document_index') }}">

		<i class="far fa-arrow-alt-circle-left mt-5"></i>
		Retour à la liste des documents</a>
	<h1 class="text-center my-5 title-effect">Ajouter un document</h1>


	{{ include('referent/document/_form.html.twig') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
$('input[type="file"]').change(function (e) {
var fileName = e.target.files[0].name;
let label = document.querySelector('.custom-file-label');
label.innerHTML = fileName;
});

});
	</script>

{% endblock %}
